/* Colour variables in root selector, allows for easy changing of the websites colours on all pages */

:root {
	--primary: #820263; /* Byzantium */
	--secondary: #D90368; /* Dogwood Rose */
	--accent: #FFD400; /* Gold */
}

/* Navbar CSS */

.navbarCustom {
	background-color: var(--secondary);
}

#logo {
	
}

/* About me, done by Alex Daly */

.ABbody {
	background-color: var(--primary);
}


.ABDescCon {
	background-color: var(--primary);
	text-align: center;
	padding: 2%;
}

.ABDesc {
	padding: 1%;
	background-color: var(--secondary);
	border: ridge #000000 3px;
}

.slippy {
	background-color: black;
}

