/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: var(--body-fonts);
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

/* Colour variables in root selector, allows for easy changing of the websites colours on all pages */

:root {
	--primary: #820263; /* Byzantium */
	--secondary: #D90368; /* Dogwood Rose */
	--accent: #5B92E5 ; /* Gold */
	--background-primary-color: #EEEEEE;

	/* Fallback fonts after google font if it doesn't load */
	--heading-fonts: 'Work Sans', 'Roboto', sans-serif;
	--body-fonts: 'Merriweather', Arial, Helvetica, sans-serif;
}

/* Consequences page, done by Alex Daly */

/* CSS for desktops (768px and up), size ranges gotten from W3Schools https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
@media only screen and (min-width: 1010px) {

	.cq-pic {
		max-width: 40%;
	}
	
	#cq-pic {
		border: solid white 0.5px;
		border-radius: 3.5%;		
	}

}

/* Have to cut off image at 1024px as it does not look good when smaller */
@media only screen and (max-width: 1024px) {
	.cq-pic {
		display: none;
	}
	
	.cq-desc {
		width: 176%;
	}
}

/* CSS for mobile (768px and down) */
@media only screen and (max-width: 768px) {

	.cq-desc > p {
		font-size: 100%;
	}
	
}

#cq-pic {
	width: 100%;
	height: auto;
}

/* Need to select html tag for the consequence page only, selector only takes the html tag with a child of the class cq-body. It also takes .cq-body*/
html:has(.cq-body), .cq-body {
	background-color: var(--primary);
}

.cq-desc {
	text-align: center;
	padding: 2%;
	background-color: var(--secondary);
	border: ridge #000000 3px;
	margin: 0;
}
	
.cq-desc > h1 {
	font-size: 300%;
	font-variant: small-caps;
	border-radius: 1%;
	width: 99%;
}

.cq-desc > p {
	font-size: 100%;
}

.cq-list {
	background-color: var(--secondary);
	border: 1px solid black;
	padding: 1%;
	border-radius: 0.5% / 2.5%;
	margin: 0.5%;
	width: 99%;
}

.cq-list > h2 {
	font-size: 200%;
}

.cq-list > ul{
	list-style: inside;
}

/* CSS to make buttons look nice, and get bigger when being hovered over */
#cq-listBut {
	color: white;
	background-color: #bfbfbf;
	padding: 0.5%;
	font-size: 120%;
	list-style-type: "˅";
	border: double white 3px;
	border-radius: 20px / 50%;
}

#cq-listBut:hover {
	transform: scale(1.08);
}

/* Makes hide-able text not display by default so buttons display */
#cq-food, #cq-water, #cq-health, #cq-env, #cq-biodiv {
	display: none;
	position: relative;
	left: 1%;
}

div.cq-form {
	background-color: var(--secondary);
	padding: 1.5%;
	margin: 0 0.5%;
	width: 99%;
}

/* CSS for the form, and form container */
.cq-formHeader > h3 {
	font-size: 200%;
}
	
.cq-formHeader > p {
	position: relative;
	left: 0.5%;	
}

form.cq-form > label {
	font-size: 110%;
	padding: 0.7% 0 0.2% 0;
}

form.cq-form > input {
	width: 350px;
}


/* End of consequences CSS */

/* Current Climate Change Prevention Page by Alex Daly */

.ccp-imgGrid {
	background-color: blue;
}

.ccp-grid {
	margin: 5% 0 0 2%;
	display: grid;
	gap: 5% 2%;
}

.ccp-grid1 {
	grid-column: 1;
	grid-row: 1;
}

.cpp-grid1 > p {
	text-align: center;

}

.ccp-grid2 {
	grid-column: 2;
	grid-row: 1;
}

.ccp-grid3 {
	grid-column: 1;
	grid-row: 2;
}

.ccp-grid4 {
	grid-column: 2;
	grid-row: 2;
}

.ccp-desc {
	background-color: red;
}


/* End of Current Climate Change Prevention Page */

/* ------ */
/* Thomas */
/* ------ */

/* What can we do about it? */
:root {
	--small-rounded-corners: 0.5rem;
	--small-gap: 0.5rem;
	--image-grid-gap: 1rem;
}

@media only screen and (max-width: 768px) {
	:root {
		--image-grid-gap: 0.75rem;
	}
	
	.navbar {
		margin: 0 !important;
		background-color: transparent !important;
		border-radius: 0;
	}

	#nav {
		background-color: #DDDDDD;
		border-radius: var(--small-rounded-corners);
	}

	.nav-item {
		padding-right: 0 !important;
	}
}	

.navbar {
	margin: var(--small-gap);
	box-sizing: border-box;
	background-color: #DDDDDD;
	border-radius: var(--small-rounded-corners);
}

.nav-item {
	padding-right: 1rem;
}

.nav-link {
	font-family: 'Work Sans', sans-serif;
	padding: 1rem;
}

.nav-link.active {
	background-color: var(--accent);
	color: var(--background-primary-color) !important;
	border-radius: var(--small-rounded-corners);
}

.divider {
	width: 100%;
	height: 1px;
	background-color: var(--accent);
	margin: 0.5rem 0;
}

.page-title {
	font-size: 3rem;
	font-family: var(--heading-fonts);
	font-weight: bold;
	padding: var(--small-gap) 0;
}

.page-description {
	font-size: 1.5rem;
	padding-bottom: var(--small-gap);
}

.image-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: var(--image-grid-gap);
}

.image-grid .grid-item {
	aspect-ratio: 5/4;
}

.image-grid .grid-item img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: var(--small-rounded-corners);
}

.main-content {
	width: 85vw;
}

.page-content {
	padding: 1rem;
}

.page-content > * {
	font-size: 1.2rem;
}

.page-content h2 {
	font-size: 2rem;
	font-family: var(--heading-fonts);
	padding-top: var(--small-gap);
}

.page-content ul {
	list-style: disc;
	padding-left: 2.5rem;
	box-sizing: border-box;
}

.page-content ul li {
	margin-bottom: var(--small-gap);
}

.donation-form label {
	margin-top: 1ch;
	font-family: var(--heading-fonts);
	font-weight: 550;
}

.donation-form input,
.donation-form button,
.donation-form select {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid var(--accent);
	outline: none;
	border-radius: var(--small-rounded-corners);
	box-sizing: border-box;
	padding: 0.5rem 1ch;
}

.donation-form input:focus,
.donation-form button:focus,
.donation-form select:focus {
	box-shadow: 0 0 5px var(--accent);
}

.donation-inputs-column {
	display: flex;
	flex-direction: column;
}

.expiry-inputs {
	display: flex;
	flex-direction: row;
}

.expiry-inputs select {
	flex: 1;
}

.expiry-inputs-divider {
	width: 1ch;
}

.expiry-inputs label {
	font-weight: normal;
}

.donation-amount-input {
	display: flex;
	flex-direction: row;
}

.donation-amount-input #donation-amount {
	flex: 1;
}

.donation-amount-input #randomise-donation-amount {
	background-color: var(--accent);
	margin-left: 1ch;
}